@charset "UTF-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  flex-basis: 78px;
}

footer {
  flex-basis: 320px;
}

header,
nav,
div > header,
div > nav {
  display: inline-flex;
}

.logohyf {
  display: inline-flex;
  justify-content: flex-start;
  margin-top: 15px;
  margin-left: 5px;
}

.secondary_header {
  display: inline-flex;
  justify-content: flex-end;
  font-size: 12px;
  margin-top: 60px;
  margin-left: 500px;
}

.home-page,
.the-program,
.volunteer,
.digitalent,
.about,
.faq,
.support-us,
.apply-hack-your-future {
  text-decoration: none;
}

.navbar {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  margin-bottom: 60px;
  margin-top: auto;
  border-radius: 5px;
  font-size: 12px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.home-page,
.the-program,
.volunteer,
.digitalent,
.about,
.faq,
.support-us {
  color: #717070;
}

.apply-hack-your-future {
  color: #f6f6f6;
}

.blue {
  background-color: blue;
}

/*
.flex-container > nav .secondary_header {
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    padding-right: 10px;
    text-decoration-color : #A5A5A5;
}
 */

.container {
  background-color: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-bottom-width: 0;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.row {
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: inline-block;
}

/* .wrapper{
    display: grid;
    grid-tepmlate-columns: repeat(2, 1fr);

} */

/* .flex-container {
    display: flex;
    justify-content: space-between;

} */

/* .secondary_header .navbar-options {
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: O;
    font-size: 10px;
    color : #A5A5A5;
    display: flex;  /*overflow: auto; */

/* flex-direction: row;
    flex-wrap: nowrap;

} */

/* FIRST HEADER WITH HYF COURSE PIC */

.fisrt-header-with-hyf-class-image-and-text {
  display: flex;
  flex-flow: line;
  padding: 5px;
  max-width: 1;
  max-height: 18%;
  justify-content: space-around;
  z-index: 1;
}

/* content: "";
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.267);
     top: 0px;
     left: 0px;
     z-index: 1; */

.row.blockDisplay {
  display: block;
}

.column_half {
  width: 50%;
  float: left;
  margin-top: 0;
}

.columns {
  width: 25%;
  float: left;
  font-family: sans-serif;
  color: #a5a5a5;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.row .columns p {
  padding-left: 10%;
  padding-right: 10%;
}

.container .columns h4 {
  text-align: center;
  color: #01b2d1;
}

/* .flex-container{
      display: flex;
    flex-wrap: nowrap;

} */

/* .primary_header {
    width: 15%;
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: left;
    border-bottom: none;
    display: flex;
} */

/* .secondary_header {
    width: 75%; /* anciennement 100% */

/* padding-top: 5px;  /* anciennement 50px */
/* padding-bottom: 5px;
    background-color: #FFFFFF;
    /*clear: right; */ /* anciennement left */

/* display: flex;
    flex-direction: row;
} */

/* .container .secondary_header ul {
    margin-top: 0%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
    width: 80%;
} */

/* .secondary_header ul li {
    list-style-type: none;
    float: right; /*ancienneemnt left */

/* margin-right: auto;
    margin-top: 0px;
    font-family: sans-serif;
    font-weight: normal;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin-left: auto;
    text-align: center;  /*ancieneemnt : center */

/* width: 75%;
    transition: all 0.3s linear;
    /*nouveaux ajouts pour mettre en ligne + réduire taille police */

.right_article ul li {
  font-family: sans-serif;
  list-style: none;
  text-align: center;
  background-color: #b3b3b3;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  font-weight: bold;
  border-radius: 0;
  transition: all 0.3s linear;
  border-left: 5px solid #717070;
}

/* display: inline ;
} */
.secondary_header ul li:hover {
  color: #717070;
  cursor: pointer;
}

.left_article {
  background-color: #fff;
  width: 60%;
  float: left;
  font-family: sans-serif;
  color: #343434;
  padding-bottom: 15px;
}

.noDisplay {
  display: none;
}

.container .left_article h3 {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%;
  color: #717070;
  font-weight: bold;
  text-transform: uppercase;
}

.container .left_article p {
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #b3b3b3;
}

.right_article {
  width: 40%;
  float: left;
  background-color: #f6f6f6;
}

.container .right_article ul {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.right_article ul li:hover {
  background-color: #717070;
  cursor: pointer;
}

.footer {
  background-color: #717070;
}

.title {
  font-weight: bold;
  font-style: normal;
  font-family: sans-serif;
  text-align: center;
  color: #fff;
  letter-spacing: opx;
}

.placeholder {
  /* [disabled]max-width: 400px;
*/

  /* [disabled]max-height: 200px;
*/
  width: 100%;
  padding-top: 30px;

  /* [disabled]padding-left: 19px;
*/
  padding-bottom: 30px;
  height: 100%;
}

.left_half {
  background-color: #52bad5;
}

.container .column_half.left_half h2 {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}

.right_half {
  background-color: #01b2d1;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

.column_title {
  padding-top: 25px;
  padding-bottom: 25px;
}

.copyright {
  text-align: center;
  background-color: #717070;
  color: #fff;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  border-top-width: 2px;
  font-family: sans-serif;
}

/**  MDN CAR STYLE - START  **/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/**  MDN CAR STYLE - END  **/

body {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

@media (max-width: 320px) {
  .secondary_header ul li {
    float: none;
    margin-top: 28px;
    margin-left: 0;
    width: 100%;
  }

  .container .secondary_header ul {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    height: auto;
    width: 100%;
    text-align: center;
  }

  .secondary_header {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 1px;
    padding-bottom: 40px;
  }

  .left_article {
    width: 100%;
    height: auto;
  }

  .right_article {
    width: 100%;
    height: auto;
  }

  .placeholder {
    width: 100%;
    margin-top: 22px;
    margin-right: 0;
    margin-bottom: 22px;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    max-width: 400px;
    max-height: 200px;
    height: auto;
  }

  .columns {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .columns p {
    padding-left: 10px;
    padding-right: 10px;
  }

  .column_half.left_half {
    width: 100%;
  }

  .column_half.right_half {
    width: 100%;
  }

  .copyright {
    padding-top: 25px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .container .left_article h3 {
    margin-top: 30px;
  }

  .social .social_icon img {
    width: 80%;
  }

  /* .container .secondary_header {
  } */
}

@media (min-width: 321px) and (max-width: 768px) {
  .secondary_header ul li {
    float: none;
    margin-top: 28px;
    margin-left: 0;
    width: 100%;
  }

  .container .secondary_header ul {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    height: auto;
    width: 100%;
    text-align: center;
  }

  .secondary_header {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 1px;
    padding-bottom: 40px;
  }

  .left_article {
    width: 100%;
    height: auto;
  }

  .right_article {
    width: 100%;
    height: auto;
    padding-bottom: 25px;
  }

  .placeholder {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }

  .columns {
    width: 100%;
    margin-top: 6px;
    margin-right: 0;
    margin-bottom: 6px;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .columns p {
    padding-left: 14px;
    padding-right: 14px;
  }

  .column_half.left_half {
    width: 100%;
  }

  .column_half.right_half {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .secondary_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .secondary_header ul li {
    margin-top: 10px;
    margin-right: 7%;
    margin-bottom: 10px;
    margin-left: 7%;
  }

  .left_article {
    height: auto;
  }

  .right_article {
    height: auto;
    padding-bottom: 27px;
  }

  .placeholder {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .columns {
    width: 50%;
    float: left;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .container .columns p {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (min-width: 1001px) {
  .thumbnail {
    width: 100%;
    border-radius: 5px;
    height: 100px;
    margin-left: auto;
  }

  .thumbnail_align {
    text-align: center;
  }

  .social {
    text-align: center;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
    background-color: #f6f6f6;
    clear: both;
    overflow: auto;
  }

  .social_icon {
    width: 25%;
    text-align: center;
    float: left;
    transition: all 0.3s linear;
    line-height: 0px;
    padding-top: 7px;
  }

  .container .social .social_icon:hover {
    cursor: pointer;
  }
}
