@import url("./something.css");

/* Volunteer page */

body {
  background-color: rgb(255, 255, 255);
  font-family: "Space Mono", monospace;
  max-width: 100vw;
}

ul {
  list-style-type: none;
}

/* Navbar */

.volunteer-logo img {
  height: 5em;
}

.volunteer-navbar {
  justify-content: space-between;
  color: rgb(127, 127, 127);
  font-family: "Work Sans", sans-serif;
  padding: 15px;
}

.volunteer-navbar a {
  text-decoration: none;
  color: rgb(127, 127, 127);
  padding: 20px 10px;
  margin: 0 5px;
  font-size: 0.7em;
}

.volunteer-navbar a:hover {
  border-bottom: 3px rgb(74, 80, 187) solid;
}

.volunteer-navbar ul {
  display: flex;
}

.volunteer-container {
  margin: 0 auto;
  overflow: auto;
  padding: 0 13px;
}

.volunteer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.volunteer-button {
  display: inline-flex;
  margin: -10px 0 0;
  font-size: 12px;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 20px;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
}

/* Title with text */

.volunteer-title {
  text-align: center;
  justify-content: center;
  max-width: 500px;
  margin: auto;
  padding: 50px;
}

.volunteer-h2 {
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: center;
  max-width: none;
}

.button-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 80px;
}

.volunteer-text {
  max-width: 550px;
  text-align: center;
  color: rgb(45, 48, 55);
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  word-break: break-word;
  font-weight: 300;
}

.join-button {
  display: inline-flex;
  margin: 20px 0 0;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white;
  font-weight: 600;
  margin-left: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
}

/* Volunteer motivation */

.volunteer-motivation {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: rgb(248, 249, 252);
  z-index: 1;
  flex: 0 0 auto;
}

.motivation-container {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0;
  margin: 0 auto;
}

.motivation-card {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.motivation-title {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  -webkit-box-flex: 0;
  height: auto;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-height: none;
  min-width: 300px;
  max-width: none;
  width: 60%;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 60%;
  margin: 0;
  padding: 0;
}

.motivation-h3 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: 300px;
}

.motivation-cover {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
}

.motivation-items {
  display: flex;
  width: 40%;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 10px;
  margin-top: 20px;
}

.motivation-image {
  padding: 0 30px;
  min-height: 70px;
  object-fit: contain;
}

.motivation-text {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0;
  word-break: break-word;
  font-weight: 300;
}

.text-color {
  color: rgb(28, 34, 148);
}

/* Coach story and mentor story */

.history {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}

.history-container {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0;
  margin: 0 auto;
}

.coach-box {
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-end;
}

.coach-photo {
  display: flex;
  width: 50%;
  min-width: 50%;
  order: 1;
}

.history-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 0;
}

.text-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  order: 2;
}

.history-text-box {
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 8%) 0 0 53px;
  padding: 40px 50px;
}

.history-title {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 0;
  text-transform: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}

.text-color-trainers {
  color: rgb(74, 80, 187);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  margin-bottom: 20px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.text-history {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0;
  word-break: break-word;
  font-weight: 300;
}

.coach-button {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 0;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}

.history-mentor {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}

.mentor-container {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0;
  margin: 0 auto;
}

.mentor-box {
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  justify-content: flex-end;
  align-items: flex-end;
}

.mentor-photo {
  display: flex;
  width: 50%;
  min-width: 50%;
  order: 2;
}

.text-button-mentor {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 500px;
  order: 1;
}

.mentor-button {
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 0;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  font-family: "Work Sans", sans-serif;
}

/* Footer */

.volunteer-footer {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
  box-shadow: rgb(0 0 0 / 8%) 0 0 53px;
}

.volunteer-footer-title {
  -moz-box-align: center;
  align-items: center;
  background: transparent none repeat scroll 0% 0%;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  -moz-box-flex: 0;
  height: auto;
  -moz-box-pack: start;
  justify-content: flex-start;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  width: 100%;
  z-index: 0;
  position: static;
}

.volunteer-footer-h3 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: center;
  max-width: none;
}

.volunteer-footer-p {
  color: rgb(45, 48, 55);
  text-align: center;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0;
  word-break: break-word;
  font-weight: 300;
}

.volunteer-footer-icons {
  -moz-box-align: stretch;
  align-items: stretch;
  background: transparent none repeat scroll 0% 0%;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  -moz-box-flex: 0;
  height: auto;
  -moz-box-pack: center;
  justify-content: center;
  margin: 20px 0;
  max-height: none;
  max-width: none;
  padding: 0;
  width: 100%;
  z-index: 0;
  position: static;
}

.volunteer-icon {
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0 10px;
  font-weight: 300;
}

.volunteer-icon-img {
  width: auto;
  height: 26px;
  object-fit: fill;
  border-radius: 0;
}

.volunteer-footer-mail {
  text-decoration: none;
  color: rgb(45, 48, 55);
}
