@import url("./something.css");

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 100%;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Space Mono", monospace;
  font-size: 10px;
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  background-color: white;
  display: flex;
  max-height: fit-content;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  width: 100%;
  min-height: 85px;
  padding: 15px 15px;
}

img.nav-logo {
  height: 50px;
}

.nav-list {
  list-style-type: none;
}

.nav-list .list-item {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  padding: 10px 20px;
}

/* .navbar a {
  color: rgb(127, 127, 127);
  cursor: pointer;
  text-decoration: none;
}

.nav-list a:hover {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 3px solid rgb(74, 80, 187);
} */

a.nav-btn {
  display: inline-flex;
  font-size: 20px;
  line-height: 160%;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}

.menu {
  display: none;
}

.menu-line {
  width: 20px;
  height: 3px;
  background-color: rgb(74, 80, 187);
  margin-bottom: 4px;
}

@media all and (max-width: 940px) {
  .navbar {
    flex-direction: column;
    position: relative;
  }

  .navbar .container-logo {
    display: block;
    position: absolute;
    left: 15px;
    top: 15px;
  }

  .menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .nav-list {
    list-style-type: none;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
    display: none;
  }

  .nav-list .list-item {
    display: block;
    border-top: 1px solid white;
  }

  .nav-logo {
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
  }

  .active {
    display: block;
  }
}
/*section1*/
.digitalent {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}
.digit {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  height: auto;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-height: none;
  max-width: none;
  width: 100%;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 100%;
  margin: 10px 0px;
  padding: 0px;
}

.text {
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}
.text-2 {
  color: rgb(45, 48, 55);
  text-align: center;
  max-width: 550px;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

/*section2*/
.container-programme {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: rgb(248, 249, 252);
  z-index: 1;
  flex: 0 0 auto;
}
.text-3 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(74, 80, 187);
  text-align: center;
  max-width: none;
}
.programme {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}
.tracks {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container_1 {
  width: 45%;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 53px;
  padding: 40px 50px;
  margin-bottom: 50px;
}

.container_1 {
  @media only screen and (min-width: 768px) and (max-width: 1280px) width: 48%;
}
.typescript {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}

.text-4 {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.programme-1 {
  @media screen (min-width: 768px) (max-width: 1280px) width: 48%;
}

.programme-1 {
  width: 45%;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 53px;
  padding: 40px 50px;
  margin-bottom: 50px;
}
.asr {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}

.text-4 {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

/*section3 */

element.style {
  margin-bottom: 50px;
  padding-top: 20px;
}
.section-3 {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}
.container_2 {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}
.container_3 {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}
.welookingfor {
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  justify-content: flex-end;
  align-items: flex-end;
}
.img_container {
  display: flex;
  width: 50%;
  min-width: 50%;
  order: 2;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 0px;
}
.container-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 500px;
  order: 1;
}
.cont-text {
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 53px;
  padding: 40px 50px;
}

.h4 {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}
.p {
  color: rgb(74, 80, 187);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
  margin-bottom: 20px;
}

.form {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}

/* FOOTER */
.footer2 {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  width: 100%;
  max-height: fit-content;
  padding: 50px 20px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 53px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  z-index: 1;
  flex: 0 0 auto;
}

.footer2-div {
  -moz-box-align: center;
  align-items: center;
  background: transparent none repeat scroll 0% 0%;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  -moz-box-flex: 0;
  height: auto;
  -moz-box-pack: start;
  justify-content: flex-start;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  width: 100%;
  z-index: 0;
  position: static;
}

.footer2-div h3 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: center;
  max-width: none;
}

.footer2-div p {
  color: rgb(45, 48, 55);
  text-align: center;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.footer2-div .icons {
  -moz-box-align: stretch;
  align-items: stretch;
  background: transparent none repeat scroll 0% 0%;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  -moz-box-flex: 0;
  height: auto;
  -moz-box-pack: center;
  justify-content: center;
  margin: 20px 0;
  max-height: none;
  max-width: none;
  padding: 0;
  width: 100%;
  z-index: 0;
  position: static;
}

.icons .icon-a {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0 10px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.icons .icon-a .icon-img {
  height: 26px;
  object-fit: fill;
  border-radius: 0;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  width: 100%;
  min-height: 85px;
  padding: 15px 15px;
}
.footer-link {
  text-decoration: none;
  text-align: center;
}
